.button {
    margin-top: 5px;
    color: white;
    background-color: slategrey;
    border-radius: 35px;
    width: 150px;
    height: 40px;
    border: 2px solid #505c65
}

.button:active {
    background-color: #505c65;
}


@media screen and (max-width: 799px) {
    .button {
        width: 50%;
    }
}